@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root{
    --white: #e2e5e9;
    --BlueDark: #00008B;
    --BlueLight: #73a9bb;
}

body{
    background-color: var(--white);
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Poppins";
    flex-direction: column;

}

header{
    height: calc(100svh - 50px);
    display: flex;
    align-items: center;

}

#container{
    max-width: 650px;
    padding: 25px;
    background-color: var(--white);
    margin: 10px;
    border-radius: 50px;
    box-shadow:  5px 5px 10px #c0c3c6,
             -5px -5px 10px #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .5s;
    
}



h1{
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    color: var(--BlueDark);
    font-size: 25px;
    margin-bottom: 25px ;
}

#formPrincipal{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input[type="number"]::-webkit-inner-spin-button{
    display: none;
}

input[type = "number"]{
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    padding: 5px;
    padding-left: 20px;
    text-align: left;
    width: 170px;
    border: none;
    border-radius: 25px;

    border-radius: 37px;
    background: var(--white);
    box-shadow: inset 2px 2px 5px #c0c3c6,
                inset -2px -2px 5px #ffffff;
    border: 2px solid transparent;
    margin: 1px 0;
}

input[type = number]:focus{
    outline: none;
    border: 2px solid var(--BlueDark);
}

select{
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    padding: 5px 10px;
    margin: 10px 10px;
    border: none;
    border-radius: 50px;
    background: #e2e5e9;
    border: 2px solid transparent;
    box-shadow:  5px 5px 10px #c0c3c6,
             -5px -5px 10px #ffffff;

    
}

select:focus{
    outline: none;
    border-color: var(--BlueDark);
}

select option{
    font-family: "Poppins", sans-serif;
}

select option:hover{
    background-color: var(--BlueDark);
}

.btn{
    font-size: 15px ;
    font-family: "Poppins", sans-serif;
    padding: 5px 20px;
    margin: 10px auto 0 auto;
    width: fit-content;
    border: 2px solid transparent;
    background-color: var(--white);
    border-radius: 50px;
    box-shadow:  5px 5px 10px #c0c3c6,
    -5px -5px 10px #ffffff;
    transition: .5s;
}

.btn:hover{
    background-color: var(--BlueDark);
    color: white;

}

main{
    width: 100vw;
    height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.infoData{
    width: 700px;
    height: calc(100svh - 40px);
    display: grid;
    margin: 0 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    overflow: visible;
}

.infos{
    grid-column: span 1;
    grid-row: span 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;

}

.pie{
    grid-column: span 2;
    grid-row: span 1;
}

.bar{
    grid-column: span 3;
    grid-row: span 1;
}

.infos, .pie, .bar {
    padding: 20px;
    width: auto;
    border-radius: 30px;
    box-shadow:  5px 5px 10px #c0c3c6,
             -5px -5px 10px #ffffff;
    overflow: hidden;

}

#valores-finais{
    width: 80%;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    gap: 5px;
    overflow: visible;
}

#ti-text, #jt-text, #vt-text{
    width: 100%;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    overflow: visible;
}

#ti-text{
    color: var(--BlueDark);
}

#jt-text{
    color: var(--BlueLight)
}


@media only screen and (max-width: 550px){
    .infoData{
        width: 100%;
        height: calc(100svh - 40px);
        display: grid;
        margin: 0 10px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        overflow: visible;

    }

    .infos{
        grid-column: span 1;
        grid-row: span 1;
        gap: 10px;
    }
    
    .pie{
        grid-column: span 1;
        grid-row: span 1;
    }
    
    .bar{
        grid-column: span 1;
        grid-row: span 1;
    }
}


/* .chartCard {
    width: 100svw;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--white);


}

.chartBox{
    width: 700px;
    height: 450px;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    border-radius: 50px;
    box-shadow:  5px 5px 10px #c0c3c6,
             -5px -5px 10px #ffffff;
}

.chartBox:nth-child(0){
    background-color: red;
}

@media only screen and (max-width: 700px){
    .chartBox{
        width: 90%;
        height: 45%;
        padding: 10px;
    }
}

@media only screen and (max-width: 400px){
    .chartBox{
        width: 300px;
        height: 300px;
        padding: 10px;
    }
}

@media only screen and (max-width: 300px){
    .chartBox{
        width: 200px;
        height: 200px;
        padding: 10px;
    }
} */